body {
    margin: 0;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 18px;
    color: #e5e7eb;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}
header {
    background-color: #1f2937;
    display: flex;
    justify-content: center;
}

.container {
    max-width: 960px;
    height: auto;
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8;
}

.header-link {
    margin-left: 16px;
}