body {
    margin: 0;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 18px;
    color: #e5e7eb;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

header, footer {
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    padding: 16px 0;
}

section {
    display: flex;
    justify-content: center;
    padding: 80px 0;
}

.container {
    max-width: 960px;
    height: auto;
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;
}

.logo, .quotee {
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8;
}

.header-link {
    margin-left: 16px;
}

.top {
    background-color: #1f2937;
}

.top-left, .top-right {
    width: 50%;
    max-width: 480px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

h1 {
    margin: 0;
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.top-left p {
    margin: 16px 0;
}

.sign-up {
    background-color: #3882f6;
    padding: 8px 40px;
    border: solid lpx #3882f6;
    border-radius: 6px;
}

img {
    width: 100%;
}

.middle-container {
    max-width: 800px;
    display: flex;
    flex-direction: column;
    flex: auto;
    justify-content: flex-start;
    align-items: stretch;
}

.information h2 {
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

.information-list {
    width: 100%;
    gap: 40px;
}

.information-item {
    max-width: 25%;
}

.information-item img {
    width: 100%;
    height: auto;
    border: solid 4px #3882f6;
    box-sizing: border-box;
    border-radius: 32px;
    overflow: hidden;
}

.information-item p {
    margin: 12px 0 0 0;
    color: #1f2937;
    text-align: center;
}

.quote {
    background-color: #e5e7eb;
}

i {
    font-size: 36px;
    font-weight: 100;
    color: #1f2937;
}

.quotee {
    margin-top: 8px;
    color: #1f2937;
    text-align: right;
}

.cta-time .middle-container {
    background-color: #3882f6;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 40px 80px;
    border-radius: 12px;
}

.cta-time .sign-up {
    border: solid 1px #e5e7eb
}

h3 {
    color: #f9faf8;
    margin: 0;
}

.cta-description p {
    margin: 8px 0 0 0;
}

